/* ============== GERAL ============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);

    --color-primary-color: hsl(0, 2%, 90%);
    --color-second-color: hsl(49, 76%, 58%);
    --color-background: hsl(150, 10%, 96%);

    --color-paragraph: hsl(0, 2%, 10%);
    --color-paragraph-02: hsl(0, 0%, 49%);
    --color-paragraph-03: hsl(0, 0%, 56%);
    
    --color-texto-conteudo: hsl(0, 1%, 14%);

    font-size: 62.5%;

    --nav-height: 7.2rem;
}

html {
    scroll-behavior: smooth;
}
html,
body {
    width: 100%;
    height: 100%;

    background: var(--color-white);
}
body {
    font-size: 1.6rem;
    text-align: center;

    overflow: overlay;
}
header {
    margin-top: 4.1rem;

    width: 37.5rem;
    margin: auto;
}

/* ============== CLASSES GERAIS ============== */
.wrapper {
    width: min(50rem, 100%);

    margin-inline: auto;
    padding-inline: 2.4rem;
}
/* img {
    max-width: 100%;
    border-radius: 8px;
} */

h1 {
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
}

p {
    font-size:1.8rem;
    line-height: 150%;
    color: var(--color-paragraph);

    margin-bottom: 3.2rem;
}

button {
    height: 4.2rem;
    width: 20.3rem;
    margin-bottom: 6rem;
    
    border-radius: 10px;
    background-color: var(--color-black);

    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
}


/* ============== INICIO HOME ============== */
