/* ============== GERAL ============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);

    --primary-color: #e6e5e5;
    --second-color: #e5c743;
    --third-color: #EBD96B;

    --color-background: #e3e3e3;
    

    --color-paragraph: #191818;
    --color-paragraph-02: #7d7d7d;
    --color-paragraph-03: #8f8f8f;

    --color-texto-conteudo: hsl(0, 1%, 14%);

    font-size: 62.5%;

    --nav-height: 7.2rem;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;

    background: var(--color-primary-colors-brand-green-light);
}



body {
    font-size: 1.6rem;
    text-align: center;

    overflow: overlay;
}



/* ============== CLASSES GERAIS ============== */
.wrapper {
    width: min(50rem, 100%);

    /* width: 37.5rem; */
    margin-inline: auto;
    padding-inline: 2.4rem;

}

/* PADRÃO DE IMAGEM */
img {
    max-width: 100%;
    border-radius: 8px;
}

section {
    padding-block: 10rem;
}

section header h4 {
    font-size: 2.4rem;
    color: var(--color-green);
    margin-bottom: 1.6rem;

    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;

    color: var(--color-secondary-colors-gray-headline);
}

section header h1 {
    font-size: 3.4rem;
    line-height: 130%;
    color: var(--color-black);

    margin-bottom: 2.4rem;
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--color-secondary-colors-gray-paragraph);
}

.button {
    background-color: 
    var(--color-black);

    border: none;
    border-radius: 1rem;

    margin-bottom: 6rem;

    padding: 1.6rem 3.2rem;
    width: fit-content;

    color: var(--color-white);
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    transition: all ease 200ms;
}

.button:hover {
    background-color: var(--color-brand-green-hover);
}

/* ============== INICIO NAVIGATION ============== */
nav {
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 100;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav i {
    color: var(--color-black);
    cursor: pointer;
    font-size: 2.8rem;
}

nav.scroll {
    background: var(--color-white);
}

nav.scroll .logo {
    color: var(--color-white);
}

nav.scroll .logo span {
    color: var(--color-primary-colors-brand-beige);
}

nav .logo {
    font-size: 1.6rem;
    color: var(--color-black);
    font-weight: bold;
}

nav .logo span {
    color: var(--color-orange);
}

nav ul li i {
    color: var(--color-white);
    font-size: 2.8rem;
    cursor: pointer;
}

nav.scroll i {
    color: var(--color-black);
    font-size: 2.8rem;
    cursor: pointer;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}


/* Removido poisiton fixed do menu.expandend e adicionado ao NAV. Alterado para position : fixed */
/* nav .menu{
    position: fixed;
} */
/* nav .close-menu {
    position: fixed;
} */


/* ============== INICIO MENU EXPANDED ============== */
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded> :not(nav) {
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--third-color);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);

    transition: transform 350ms;
    transform: translateY(0%);
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: var(--color-black);
}

.menu .button {
    background-color: var(--color-black);
    border-radius: 1rem;
    border-width: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;

    color: var(--color-white);

    display: inline-block;
    padding: 1.0rem 3.2rem;


    margin-top: 4.8rem;
    margin-bottom: 8rem;

    transition: all .3s ease-in-out;
}

.menu .button:hover {
    background-color: var(--color-white);
    color: var(--color-black);

    filter: brightness(1.3);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

body.menu-expanded .logo,
button.close-menu i {
    position: relative;
    z-index: 100;
    color: var(--color-black);
    cursor: pointer;
}

body.menu-expanded button.close-menu i {
    color: var(--color-black);
    font-size: 2.8rem;
    cursor: pointer;
}

/* ============== INICIO HOME ============== */
#home {
    padding-block: 0;
    padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
    content: '';
    width: 100%;
    height: calc(72% + var(--nav-height));
    background-color:var(--color-background);
    
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home h1 span {
    color: var(--third-color);
}

#home p {
    font-size: 2.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--color-paragraph);
    margin-bottom: 3.2rem;
}

#home .button {
    margin-inline: auto;
}

#home .home-img {
    width: 126.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 0.6rem;
}

.home-cards {
    width: 90%;
    margin-top: 4rem;
    padding-block: 4rem;
    margin-inline: auto;

    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    background-color: var(--third-color);
    border: 1px solid var(--color-primary-colors-brand-green-light);
    border-radius: 1.2rem;
}

.home-card img {
    width: 10rem;
    height: auto;
    margin-bottom: .4rem;
}

/*
    Não Faz parte do Card
    .home-card h3 {
    font-size: 2.8rem;
    color: var(--color-primary-colors-brand-green);
    line-height: 130%;
} */




/* ============== INICIO SERVICES ============== */
#services h2 {
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    text-align: left;

    background-color: var(--color-primary-colors-brand-green-light-02);

    border: 1px solid var(--color-primary-colors-brand-green-light);
    border-radius: 1rem;
}

#services .card:hover {
    box-shadow: 0px 10px 37px 8px #a8a8ab85;
}

#services .card i {
    font-size: 2.4rem;
    background-color: transparent;
    color: var(--color-primary-colors-brand-green);

}

#services .card h4 {
    margin-block: 1.6rem;
}


/* ============== INICIO ABOUT ============== */
#about {
    text-align: left;
    background-color: var(--color-primary-colors-brand-beige);
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
    text-align: justify;
}

#about .content img {
    border-radius: 12px;
}

/* ============== FIM ABOUT ============== */

/* ============== INICIO CONTATO ============== */
#contato {
    text-align: left;
}

#contato header {
    margin-bottom: 3.2rem;
}

#contato ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    margin-bottom: 3.2rem;
}

#contato ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem
}

#contato .button i {
    font-size: 2rem;
}


/* ============== FIM CONTATO ============== */



/* ============== INICIO FOOTER ============== */
footer {
    background-color: var(--color-primary-colors-brand-green);
    padding-block: 6rem;


    text-align: left;
    color: var(--color-white);
}

footer .logo {
    display: inline-block;
    font-size: 2.6rem;
    color: var(--color-white);
    font-weight: 500;

    margin-bottom: 2.4rem;
}

footer .logo span {
    font-weight: bold;
    color: var(--color-primary-colors-brand-beige);
}

footer p {
    color: var()--color-secondary-colors-gray-paragraph;
    line-height: 2;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
}

footer ul li {
    align-items: left;
}

footer ul li i {
    color: var(--color-white);
    font-size: 2.8rem;
    cursor: pointer;
}

footer .social-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3.2rem;
}

/* ============== FIM FOOTER ============== */

/* ============== backToTopButton ============== */
#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: 200ms;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

}

/* ====== Responsividade ====== */
@media (min-width: 1024px) {

    /* ====== GERAL ====== */
    body {
        overflow: auto;
    }

    .wrapper {
        width: min(112rem, 100%);
        display: grid;
    }

    .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }

    section {
        padding-block: 16rem;
    }

    section header h2 {
        font-size: 4rem;
        line-height: 5.2rem;
    }

    /* ====== NAVIGATION ====== */


    /* ====== Reset ====== */
    nav#navegacao .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        font-weight: initial;
        filter: initial;
    }

    /* ====== NAVEGAÇÃO ====== */

    nav#navegacao .close-menu,
    nav#navegacao .open-menu,
    nav#navegacao .social-links {
        display: none;
    }

    nav#navegacao .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }

    nav#navegacao .logo {
        font-size: 2rem;
        color: var(--color-black);
        font-weight: bold;
    }

    nav#navegacao .logo span {
        color: var(--color-orange);
        font-size: 2rem;
        font-weight: bold;
    }

    nav#navegacao.scroll .logo {
        color: var(--color-white);
    }

    nav#navegacao.scroll .logo span {
        color: var(--color-primary-colors-brand-beige);
    }

    nav#navegacao .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;
    }

    nav#navegacao .menu ul li a {
        color: var(--color-primary-colors-brand-green);
        opacity: 0.7;
    }

    nav#navegacao .menu a.button {
        display: flex;
        justify-content: center;
        padding: 1rem 2.4rem;

        border: 1px solid var(--color-primary-colors-brand-green);
        border-radius: 4rem;

        color: var(--color-primary-colors-brand-green);

        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: uppercase;

    }

    nav#navegacao .menu a.button:hover {
        background-color: var(--color-primary-colors-brand-green);
        border: none;
        color: var(--color-white);
        font-weight: 400;
    }

    nav#navegacao.scroll .menu ul li a {
        color: var(--color-primary-colors-brand-green-light-02);
        opacity: 0.6;
    }

    nav#navegacao.scroll .menu a.button {
        border-color: var(--color-white);
        color: var(--color-white);
    }

    nav#navegacao .menu li a {
        transition: opacity .2s;

    }

    nav#navegacao .menu li a.active,
    nav#navegacao .menu li a:hover {
        opacity: 1;
        font-weight: 500;
    }

    nav#navegacao .menu li a::after {
        content: "";
        width: 0%;
        height: 2px;
        background-color: var(--color-primary-colors-brand-green);

        position: relative;
        bottom: -1.8rem;
        left: -0.5rem;


        display: block;

        transition: width 0.2s;
    }

    nav#navegacao.scroll .menu li a::after {
        background-color: var(--color-white);
    }

    nav#navegacao .menu li a.active::after,
    nav#navegacao .menu li a:hover::after {
        padding-inline: 0.6rem;
        width: 100%;
    }

    nav#navegacao.scroll .menu li a.active,
    nav#navegacao.scroll .menu li a:hover {
        opacity: 1;
    }

    nav#navegacao.scroll .menu a.button.active,
    nav#navegacao.scroll .menu a.button:hover {
        background-color: var(--color-primary-colors-brand-green);
        filter: brightness(1.3);
        border: none;
    }

    /* ====== HOME ====== */
    #home::before {
        height: calc(96% - var(--nav-height));
    }

    #home {
        padding-top: var(--nav-height);
        padding-top: 8rem;
    }

    #home .wrapper {
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas:
            'A B'
            'C C';
    }

    #home .col-a {
        text-align: left;
        align-self: center;
    }

    #home h4 {
        font-size: 2.5rem;
    }

    #home h1 {
        font-size: 5.2rem;
    }

    #home .content p {
        font-size: 1.8rem;
    }

    #home .home-cards {
        grid-area: C;
        flex-direction: row;
        padding: 6rem;
        gap: 0;
    }

    #home .home-cards .home-card+.home-card {
        border-left: 1px solid var(--color-primary-colors-brand-green);
    }

    #home .home-cards .home-card {
        flex: 1;
    }

    #home .button {
        margin: 0;
    }

    #home .col-b img {
        width: 36rem;
    }

    /* ====== SERVICES ====== */
    #services h2 {
        width: 90rem;
        margin-inline: auto;
    }

    #services .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #services .card {
        width: 30%;
        flex-grow: 1;
    }

    /* ====== ABOUT ====== */
    #about .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'B A';
        gap: 6.67rem;
    }

    #about .col-a {
        align-self: center;
    }

    #about .content p {
        margin-bottom: 0;
    }

    #about .col-b img {
        border-radius: 12px;
    }

    /* ====== CONTATO ====== */
    #contato .wrapper {
        grid-template-columns: 1fr 57.5rem;
        grid-template-areas: 'A B';
    }

    #contato h2 {
        width: 40.4rem;
    }

    #contato .col-a {
        align-self: center;
    }

        /* ====== FOOTER ====== */

    footer {
        padding-block: 8rem ;
    }
    footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    footer .col-a {
        align-self: center;
    }

    footer .col-b {
        align-self: center;
        justify-self: flex-end;
    }

    footer p {
        margin-bottom: 0;
    }

}