* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --color-white: #FFF;
    --color-black: #000;

    --color-primary-color: #E7E6E6;
    --color-second-color: #E6C744;
}